*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Nerko One', cursive;
}

footer{
text-align: center;
}

body{
  background-color: #add8e6;
}

header{
  text-transform: uppercase;
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px #555;
  color: #fff;
}

.container{
  text-align: center;
  width: 794px;
  height: 697px;;
  margin: auto;
}

.back{
  width: 180px;
  height: 208px;
  margin: 10px 3px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: contain;
  position: relative;
}

.uncovered{
  width: 180px;
  height: 208px;
  margin: 10px 3px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  background-color: white;
  background-image: url("../img/air_balloon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

h5{
  color: #E61986;
}


.balloon{
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.figurina{
  width: 180px;
  height: auto;
  display: none;
}

.back div{
  position: absolute;
  bottom: 10px;
  right: 30px;
  display: none;
}

.textimg, .figurina{
  font-size: 30px;
  text-align: center;
  line-height: 360px;
  color: #e61986;
  text-shadow: 2px 0 2px #add8e6, 0 2px 2px #000;
}

.back:hover {
  background: white;
}

.back:hover .figurina{
  display: block;
}

.back:hover div{
  display: block;
}

.textimg:hover{
  color: orange;
}

footer {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
